<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="block mt-2">
    <%= form.label :name, class: "block" %>
    <%= form.text_field :name, class: "block w-full" %>
  </div>

  <div class="block mt-2">
    <%= form.label :director, class: "block" %>
    <%= form.text_field :director, class: "block w-full" %>
  </div>

  <div class="block mt-2">
    <%= form.label :released_on, class: "block" %>
    <%= form.date_select :released_on, class: "block w-full" %>
  </div>

  <div class="block mt-2">
    <%= form.label :image_url, class: "block" %>
    <%= form.text_field :image_url, class: "block w-full" %>
  </div>

  <div class="block mt-2">
    <%= form.label :description, class: "block" %>
    <%= form.text_area :description, class: "block w-full" %>
  </div>

  <div class="block mt-4">
    <%= form.submit class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    or
    <%= link_to 'cancel', form.object.persisted? ? form.object : root_path %>
  </div>
<% end %>
