<p id="notice"><%= notice %></p>

<div class="grid grid-cols-2 gap-4">
  <h1 class="text-3xl font-bold text-gray-900">Movies</h1>
  <small class="text-right">
    <%= link_to '+ New Movie', new_movie_path %>
  </small>
</div>

<table>
  <thead>
    <tr>
      <th class="text-left">Name</th>
      <th class="text-left">Director</th>
      <th class="text-left">Released on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.name, movie %></td>
        <td><%= movie.director %></td>
        <td><%= movie.released_on %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
