<% @title = title(@movie.name) %>
<% if can?(:update, @movie) %>
  <div class="text-right">
    <%= link_to 'Edit', edit_movie_path(@movie) %>
  </div>
<% end %>

<p>
  <%= @movie.director %> - <%= @movie.released_on.to_s(:long) %>
</p>
<div class="grid grid-cols-2 gap-4 pt-4">
  <%= image_tag @movie.image_url %>

  <p>
    <%= @movie.description %>
  </p>
</div>

<div class="grid grid-cols-2 gap-4 mt-10">
  <h2 class="text-2xl font-bold text-gray-900">
    Reviews
  </h2>
  <small class="text-right">
    <%= link_to 'New', new_movie_review_path(@movie) %>
  </small>
</div>
<%= turbo_frame_tag(dom_id(@movie, :reviews), src: movie_reviews_path(@movie)) do %>
  <p>
    Loading...
  </p>
<% end %>
