<%= turbo_frame_tag(dom_id(review)) do %>
  <div class="rounded overflow-hidden shadow-lg w-full mt-4">
    <div class="px-6 pt-4 flex justify-between">
      <div class="font-bold text-xl text-gray-900">
        <%= review.title %>
      </div>
      <small class="text-right">
        <%= link_to('Edit', edit_review_path(review)) if can?(:update, review) %>
        <%= link_to('Destroy', review_path(review), method: :delete, data: {confirm: "Are you sure?"}) if can?(:destroy, review) %>
      </small>
    </div>
    <p class="px-6 text-gray-500 text-sm">
      <em>by</em> <%= review.user.name %>
    </p>
    <div class="px-6 py-4 w-full">
      <p class="text-gray-700 text-base mt-4">
        <%= review.body %>
      </p>
    </div>
  </div>
<% end %>
